langchain==0.2.16
langchain-core==0.2.38
langchain-community==0.2.16
langchain-groq==0.1.9
langchain-text-splitters==0.2.2
chromadb==0.5.5
sentence-transformers==3.0.1
transformers==4.44.2
numpy==1.26.4
pydantic==2.7.4
pypdf
groq
